@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-dark: #2E1E0F;
  --font-light: #ededed;
  --primary-color: #1f1f1f;
  --background-color: #ededed;
  --accent-color: #D55672;
  --accent-color-2: #9DFFF9;
  /* Aside width */
  --aside-width: 300px;
  /* Aside navigation */
  --nav-bg-color: #3F4876;
  --nav-bg-texture-color: rgba(31, 31, 31, 0.2);
  /* Icons colors */
  --insta-icon: #c86388;
  --fb-icon: #7494EA;
  --mail-icon: #adc47d;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

html {
  background-color: #ededed;
  color: #1f1f1f;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  text-align: left;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -2px;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -1px;
}
p {
  line-height: 1.6;
  margin: 1rem 0;
}
p img {
  max-width: 100%;
  height: auto;
}

/* reglages de base pour le svg */
svg path {
  fill: #ededed;
  transition: fill 0.3s ease-in-out;
}
/* Gestion remplissage des icones en svg */
.instagram-icon svg:hover path {
  fill: var(--insta-icon);
}
.facebook-icon svg:hover path {
  fill: var(--fb-icon);
}
.mail-icon svg:hover path {
  fill: var(--mail-icon);
}
/* Gestion remplissage du logo en svg */
/* .pathn:hover {
  fill: var(--accent-color);
}
.pathc:hover {
  fill: var(--accent-color);
}

.path3d:hover {
  fill: var(--accent-color-2);
} */

.page-title {
  height: 200px;
  display: flex;
  align-items: center;
}

/* Responsive mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .page-title {
    height: 120px;
  }
}
