---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";

// Récupère tous les articles
const posts = await getCollection('blog');

// Trie par date décroissante avec typage correct
const sortedPosts = posts.sort((a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => 
  b.data.date.valueOf() - a.data.date.valueOf()
);
---

<BaseLayout pageTitle="Blog">
  <PageLayout>
    <h1 class="page-title">BLog</h1>
     <ul class="blog-post-list">
    {sortedPosts.map((post: CollectionEntry<'blog'>) => (
        <a href={`/blog/${post.id}`}>
      <li class="blog-post-item">
        <h2>
          {post.data.title}
        </h2>
        <p>{post.data.description}</p>
        <time>{post.data.date.toLocaleDateString('fr-FR')}</time>
      </li>
        </a>
    ))}
  </ul>
  </PageLayout>
  <style>
    .blog-post-item{
      padding: 15px 30px;
      background-color: var(--nav-bg-color);
      border-radius: 10px;
      color: var(--background-color);
      }
  </style>