<footer class="footer-container">
<ul class="footer-list">
    <li class="footer-item">
        Créé par NCDEV en 2025
    </li>
</ul>
</footer>
<style>
    .footer-container {
        width: 100%;
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-item{
        font-size: 0.875rem;
        font-weight:600;
        color: var(--nav-bg-color);
    }
</style>