---
import "../styles/reset.css";
import "../styles/global.css";
import Header from "../components/Header.astro";

interface Props {
  pageTitle: string;
  pageDescription: string;
}

const { pageTitle = "Portfolio NC3D" } = Astro.props;
const { pageDescription = "Bienvenue sur NC3D" } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDescription} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <div class="main-container">
      <slot />
    </div>
  </body>
</html>

<style>
  body {
    display: flex;
    width: 100dvw;
    max-width: 1600px;
  }
  .main-container {
    margin-left: var(--aside-width);
    min-height: 100dvh;
    width: calc(100% - var(--aside-width));
  }

  /* Version mobile */
  @media (max-width: 768px) {
    .main-container {
      margin-left: 0;
      margin-top: 70px;
      width: 100%;
    }
  }
</style>
