---
import Footer from "../components/Footer.astro";
---

<main class="page-container">
  <slot />
</main>
<Footer />

<style>
  .page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 40px;
  }
</style>
